# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.env
.idea/
.vscode/
*.log
*.tgz
*.zip
*.rar
pids/
logs/
results/
tmp/
coverage/
dist/
build/
public/build/
.nyc_output/
.cache/
.eslintcache
.prettierignore
.prettierrc